@tailwind base;
@tailwind components;
@tailwind utilities;

/*** SWIPE LIST OVERRIDES **/
.swipeable-list-item__leading-actions, 
.swipeable-list-item__trailing-actions {
  @apply text-white text-lg uppercase font-bold;
}
.swipeable-list-item__leading-actions{
  @apply bg-blue-600;
}
.swipeable-list-item__trailing-actions {
  @apply bg-pink-600;
}
.swipeable-list .swipe-action {
  @apply flex justify-center items-center
}

/* Asegúrate de que estas clases sean incluidas en tu archivo CSS */
#budgetEdit {
  width: 70%;
}

.bg-header {
  background-color:#1c293b
}

.react-datepicker-wrapper {
  width: 100%;
}

.none {
  @media (min-width: 1280px) {
    display: none !important;
  }
  
}

.none-header {
  display: none !important;
  @media (min-width: 1280px) {
    display: block !important;
  }
  
}